
.hot_deals, .sugar_hai,.top_picks{
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.hot_deals_child{
    /* border: 1px solid red; */
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.pink_hr{
    /* border: 1px solid blue; */
    width: 20%;
    color: red;
    font-size: 40px;
    margin-top: -15px;
}
.hot_cards{
    display: flex;
    justify-content: space-around;
    width: 99%;
    margin: auto;
    /* border: 1px solid blue; */
}
.hot_cards img, .sugar_hai img{
    border-radius: 10px;
}