
.outer_box{
    width:99%;
    height:600px;
    background-color:black;
    padding:10px;
    margin:auto;
    color: white;
}
.sugar_logo_box{
    width: 110px;
    height: 110px;
    background-color: black;
    margin: auto;
    margin-top: -60px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50%;
}
.inner_box_main{
    width: 95%;
    margin: auto;
    /* border: 1px solid white; */
    padding: 5px;
}
.inner_box_1{
    width: 300px;
    /* border: 1px solid white;  */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
img{
    cursor: pointer;
}
.links_box{
    display: flex;
    width: 60%;
    height: 60px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */
    font-size: 18px;
}
.links{
    color: white;
}
.contact_box{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.cbc{
    text-align: left;
}
.greyText{
    color: rgb(193, 191, 191);
}
.apps_box{
    width: 50%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.app_button{
    display: flex;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 12px;
    padding: 5px;
    width: 150px;
    height: 60px;
}

